<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <!-- main content -->
        <main class="content">
            <!-- tabs -->
            <section class="container mt-2 mb-1">
                    <!-- form card-->
                    <div class="col-7 col-s-10 signin-form" >
                        <h1 class="tex-center"> <%= title %> </h1>
                        <p class="text-center ml-2"> Please enter your details </p>
                        <!-- form Login -->
                        <% if (errorMessage) { %>
                            <div class="user-message user-message--error" ><%= errorMessage %></div>
                        <% } %>
                        <form method="POST" action='/login' novalidate>
                            <div class="padding-1 ">
                                <label for="email">Email</label>
                                <input 
                                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %> form-inputs"
                                    type="email" 
                                    name="email"  
                                    id="email" 
                                    placeholder="email"
                                    value="<%= oldInput.email %>"
                                />
                            </div>
                            <div class="padding-1">
                                <label for="password">Password</label>
                                <input 
                                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %> form-inputs"
                                    type="password"
                                    name="password" 
                                    id="password" 
                                    placeholder="Password"
                                    value="<%= oldInput.password %>"
                                />
                            </div>
                            <div class="padding-1 container">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="large-btn" type="submit">Login</button>
                            </div>
                        </form>
                        <!-- form Login -->
                        <p class="text-center bottom-dotted" >Don't have an account?  
                            <a href="/signup" class="login"> Register here</a>
                        </p> 
                        <p class="text-center bottom-dotted" >
                            <a href="/reset" class="login"> Reset Password </a>
                        </p>
                    </div>
                    <!-- form card -->
                </div>
            </section>
            <!-- tabs -->
        </main>
        <!-- main content -->
        <%- include('../partials/footer.ejs') %>
        <%- include('../partials/end.ejs') %>
    </body>
</html>