<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <!-- main content -->
        <main class="content">
            <section class="container mt-2 mb-1">
                    <!-- form card-->
                    <div class="col-7 col-s-10 signin-form" >
                        <h1 class="tex-center"> Create an Account </h1>
                        <p class="text-center ml-2"> Please enter your details </p>
                        <% if (errorMessage) { %>
                            <div class="user-message user-message--error" ><%= errorMessage %></div>
                        <% } %>
                        <!-- form -->
                        <form class="login-form" action="/signup" method="POST">
                            <div class="padding-1">
                                <label>Username</label>
                                <input type="text" name="username" id="username" placeholder="Username" class ="form-inputs"/>
                            </div>
                            <div class="padding-1">
                                <label>Full Name</label>
                                <input type="text" name="full_name" id="full_name"  placeholder="Full Name" class ="form-inputs"/>
                            </div>
                            <div class="padding-1">
                                <label>Email</label>
                                <input type="email" name="email" id="email" placeholder="Email" class ="form-inputs"/>
                            </div>
                            <div class="padding-1">
                                <label>Phone</label>
                                <input type="text" name="phone" id="phone" placeholder="Phone" class ="form-inputs"/>
                            </div>
                            <div class="padding-1">
                                <label>Password</label>
                                <input type="password" name="password" id="password" placeholder="Password" class ="form-inputs" autocomplete required/>
                            </div>
                            <div class="padding-1">
                                <label>Confirm Password</label>
                                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" class ="form-inputs" autocomplete required/>
                            </div>
                            <div class="padding-1 container">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="submit" value="Create and Account" class="large-btn">
                            </div>
                        </form>
                        <!-- form --> 
                        <p class="text-center bottom-dotted" >Already have an account? 
                            <a href="/login" class="login"> Log in</a>
                        </p>
                    </div>
                    <!-- form card -->
                </div>
            </section>
            <!-- tabs -->
        </main>
        <!-- main content -->
        <%- include('../partials/footer.ejs') %>
        <%- include('../partials/end.ejs') %>
    </body>
</html>