<%- include('../partials/head.ejs') %>
</head>
<body>
  	<%- include('../partials/header.ejs') %>
  	<main class="content">
		<h1 class="tex-center"> Admin Classes </h1>
		<!-- classes info -->
		<% if (prods.length > 0) { %>
		<section class="card-container mt-1 mb-1">
			<% for (let product of prods) { %>
			<div class="card-class col-6 col-s-10">
				<img src="<%= product.imageUrl %>" alt="Classic Oriental" class="img">
				<div class="form-card row">
					<div class="row">
						<p class="col-3 text-description"><strong>Title:</strong></p>
						<p class="col-9 text-description" ><%= product.class_name %> </p>
					</div>
					<div class="row">
						<p class="col-4 text-description"><strong>Description:</strong></p>
						<p class="col-8 text-description" ><%= product.description %> </p>
					</div>
				</div>
				<div class="card-container mt-2">
					<div class="col-5">
						<button id=" " class="headbutton col-11" type="button" onclick ="location.href='/admin/edit-class/<%= product.classId %>?edit=true'"> 
							Edit
						</button>
					</div>
					<form action="/admin/delete-class" method="POST" class="col-5">
						<input type="hidden" value="<%= product.classId %>" name="class_id">
						<button class="headbutton" type="submit"> 
							Delete
						</button>
					</form>
				</div>
			</div>
			<% } %>
		</section>
		<% } else { %>
			<h2>No Products Found!</h2>
		<% } %>
		<section class="container">
			<div class="col-8">
				<button id="" class="large-btn" type="button" onclick ="location.href='/admin/add-class'"> 
					Add a new class
				</button>
			</div>
		</section>

		<!-- classes info -->
  	</main>
  	<%- include('../partials/footer.ejs') %>
  	<%- include('../partials/end.ejs') %>
</body>
</html>