<%- include('../partials/head.ejs') %>
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <main class="content">
		<h1 class="tex-center"> Edit this class </h1>
		<!-- form card -->
		<section class="container mt-2 mb-1">
			<div class="form-card col-8">
				<!-- form edit a class -->
				<form method="post" action="/admin/<% if (editing) { %>edit-class<% } else { %>add-class<% } %>" class="">
					<!-- Edit class Name input -->
					<div class="padding-1">
						<label for="title">Class Title</label>
						<input type= "text" name ="title"  id="title" class ="form-inputs" value="<% if (editing) { %><%= product.title %><% } %>"/>
					</div>
					<!-- Edit img input -->
					<div class="padding-1">
						<label for="imageUrl">Image</label>
						<input type= "text" name ="imageUrl" placeholder="imageUrl" id="imageUrl" class ="form-inputs" value="<% if (editing) { %><%= product.imageUrl %><% } %>"/>
					</div>
					<!-- Edit description input -->
					<div class="padding-1">
						<label for="description">Description</label>
						<textarea name="description"  rows="5" id="description" class ="form-inputs"><% if (editing) { %><%= product.description %><% } %></textarea>
					</div>
					<!-- Edit date input -->
					<div class="padding-1">
						<label for="date">Date</label>
						<input type= "date" name ="date" id="date" class ="form-inputs" value="<% if (editing) { %><%= product.date %><% } %>"/>
					</div>
					<!-- Edit time input -->
					<div class="padding-1">
						<label for="time">Time</label>
						<input type= "text" name ="time" id="time" class ="form-inputs" value="<% if (editing) { %><%= product.time %><% } %>"/>
					</div>
					<!-- Edit studion input -->
					<div class="padding-1">
						<label for="studio_num">Studio Num:</label>
						<input type= "text" name ="studio_num" id="studio_num" class ="form-inputs" value="<% if (editing) { %><%= product.studio_num %><% } %>"/>
					</div>

					<% if (editing) { %>
						<input type="hidden" value="<%= product._id %>" name="productId">
					<% } %>
					<!-- submit btn -->
					<div class="padding-1 container">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<button class="large-btn" type="submit"> 
							<% if (editing) { %> Update class <%} else { %> Add a new class <%} %> 
						</button>
					</div>
				</form>
				<!-- form Add a class -->
			</div>
		</section>
		<!-- form card -->
	</main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/end.ejs') %>
</body>
</html>