<body>
    <header>
        <div class="header-1">
            <nav class="admin-menu flex-container "> 
                <% if (isAuthenticated) { %>
                <li>
                    <a class="<%= path === '/admin/classes-list' ? 'active' : '' %> nav-link" href="/admin/classes-list" >Classes List</a>
                </li>
                <% } %>
                <div class="col-3 right mt-1 menu-large">
                    <% if (!isAuthenticated) { %>
                        <button id="" class="<%= path === '/login' ? 'active' : '' %> headbutton mr-1" type="button" onclick ="location.href='/login'"> 
                            Login
                        </button>
                        <button id="" class="<%= path === '/signup' ? 'active' : '' %> headbutton mr-1" type="button" onclick ="location.href='/signup'"> 
                            Register
                        </button>
                    <% } else { %>
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="headbutton mr-1">Logout</button>
                        </form>
                    <% } %>
                </div>
            </nav>   
        </div>
        <!-- navigation large & medium devices -->
        <div class="row menu-large">
            <!-- logo -->
            <div class="col-3">
                <a href="/" class="">
                    <img src="/img/index/logo.png" alt="Oriental Dance logo" class="img-logo">
                </a>
            </div>
            <!-- navigation links -->
            <div class="col-7 right">
                <!-- navigation large & medium devices -->
                <nav class="menu-large flex-container">
                    <li>
                        <a href="/" class="<%= path === '/' ? 'active' : '' %> nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/classes" class="<%= path === '/classes' ? 'active' : '' %> nav-link">Our Classes</a>
                    </li>
                    <li>
                        <a href="/studios" class="nav-link">Our Studios</a>
                    </li>
                    <li>
                        <a href="/contact_us" class="<%= path === '/contact_us' ? 'active' : '' %> nav-link">Contact Us</a> 
                    </li>
                    <% if (isAuthenticated) { %>
                        <i class="<%= path === '/booking-cart' ? 'active-cart' : '' %> material-icons cart-icon">
                            <a class="" href="/booking-cart" >shopping_cart</a>
                        </i>
                    <% } %>
                </nav>
                <!-- navigation large & medium devices --> 
            </div>
            <!-- navigation links -->
        </div>
        <!-- navigation large & medium devices -->
        <!-- navigation small devices -->
        <div class="row nav-mobile">
            <!-- top navigation -->
            <div class="card-container">
                <!-- logo -->
                <a href="/" class="">
                    <img src="/img/index/logo.png" alt="Oriental Dance logo" class="img-logo">
                </a>
                <!-- navigation links -->
                <div id="navLinks"  class="col-12 menu-small">
                    <!-- navigation large & medium devices -->
                    <nav class="col-12">
                        <li>
                            <a href="/" class="nav-link active">Home</a>
                        </li>
                        <li>
                            <a href="/classes" class="nav-link">Our Classes</a>
                        </li>
                        <li>
                            <a href="/studios" class="nav-link">Our Studios</a>
                        </li>
                        <li>
                            <a href="/contact_us" class="nav-link">Contact Us</a>
                        </li>
                        <% if (isAuthenticated) { %>
                            <i class="material-icons cart-icon">
                                <a class="<%= path === '/booking-cart' ? 'active' : '' %>" href="/booking-cart" >shopping_cart</a>
                            </i>
                        <% } %>
                        <div class="container">
                            <% if (!isAuthenticated) { %>
                                <button id="" class="<%= path === '/login' ? 'active' : '' %> headbutton mr-1" type="button" onclick ="location.href='/login'"> 
                                    Login
                                </button>
                                <button id="" class="<%= path === '/signup' ? 'active' : '' %> headbutton mr-1" type="button" onclick ="location.href='/signup'"> 
                                    Register
                                </button>
                            <% } else { %>
                                <form action="/logout" method="post">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="headbutton mr-1">Logout</button>
                                </form>
                            <% } %>
                        </div>
                    </nav>
                    <!-- navigation large & medium devices --> 
                </div>
                <!-- navigation links -->
                <!-- hamburger menu icon -->
                <a href="javascript:void(0);" class="icon" onclick="mobileMenu()">
                    <div class="line-menu">
                        <hr class=""></hr>
                        <hr class=""></hr>
                        <hr class=""></hr>
                    </div>
                </a>
            </div>
        </div>
        <!-- navigation small devices -->
    </header>
</body>