<%- include('../partials/head.ejs') %>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main class="content">
		<h1>Class Title</h1>
		<h2 class="yellow-bg text-center pt-1"><%= title %></h1>
		<!-- Successful Message -->
		<section class="container mt-2 mb-1">
			<div class="form-card col-6 pt-2 pb-2">
				<h2>Successful Message</h2>
				<p class="text-center mt-2 mb-1">
					Your Booking has been confirmed. 
				</p>
		</section>
		<!-- Successful Message -->
	</main>

	<%- include('../partials/footer.ejs') %>
	<%- include('../partials/end.ejs') %>
</body>
</html>