<%- include('../partials/head.ejs') %>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main class="content">
		<h1 class="yellow-bg text-center pt-1"><%= title %></h1>
		<!-- book class -->
		<% if (products.length > 0) { %>
		<section class="card-container mt-2 mb-1">
			<% products.forEach(p => { %>
			<div class="form-card col-7 col-s-11 mt-1 ml-1">
				<ul>
					<li class="cart__item">
						<h2><%= p.productId.title %></h2>
						<h3>Quantity: <%= p.quantity %></h3>
					</li>
				</ul>
				<!-- submit btn -->
				<div class="padding-1">
					<form action="/cart-delete-item" method="POST">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<input type="hidden" value="<%= p.productId._id %>" name="productId">
						<button class="deletebtn" type="submit">Delete</button>
					</form>
				</div>
			</div>
			<% }) %>
			
		</section>
		
		<!-- book class -->
		<section class="container">
			<div class="col-6 col-s-11 flex-container">
				<div class="col-5">
					<button id=" " class="headbutton col-11" type="button" onclick ="location.href='/classes'"> 
						Add new booking
					</button>
				</div>
				<form action="/admin/delete-class" method="POST" class="col-5">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<input type="hidden" value="" name="class_id">
					<button class="deletebtn col-11" type="submit"> 
						Delete booking
					</button>
				</form>
			</div>
		</section>
		<section class="container">
			<div class="col-8">
				<form action="/create-order" method="POST">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<button type="submit" class="large-btn">
						Confirm Booking
					</button>
				</form>
			</div>
		</section>
		<% } else { %>
			<h2>No Bookings in Basket!</h2>
		<% } %>
	</main>
	<%- include('../partials/footer.ejs') %>
	<%- include('../partials/end.ejs') %>
</body>
</html>