<%- include('../partials/head.ejs') %>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main class="content">
		<h1 class="yellow-bg text-center pt-1"> <%= title %></h1>
		<!-- Successful Message -->
		<section class="container mt-2 mb-1">
			

		</section>
		<!-- Successful Message -->
	</main>

	<%- include('../partials/footer.ejs') %>
	<%- include('../partials/end.ejs') %>
</body>
</html>