<%- include('../partials/head.ejs') %>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main class="content">
		<div class="pt-1">
			<h1 class="yellow-bg text-center pt-1"> <%= product.title %> </h1>
		</div>
		<!-- class info -->
		<section class="container">
			<div class="form-card col-5 col-s-10">
				<img src="<%= product.imageUrl%>" alt="dance class image" class="img">
				<p class="text-justify">
					<%= product.description %>
				</p>
				<!-- form book class -->
				<form method="post" action="/" class="">
					<!-- select day -->
					<div class="card-container">
						<div class="col-5">
							<p>
								<label for="date" class="col-12">
									<strong>Select Date</strong>
								</label>

							</p>
						</div>
						<div class="col-6">
							<select id="date" name="date" class ="form-inputs">
								<option value="<%= product.date %>"><%= product.date %></option>
							</select>
						</div>
					</div>
					<!-- select day -->
					<!-- time -->
					<div class="card-container">
						<div class="col-4">
							<p>
								<strong>Time</strong>
							</p>
						</div>
						<div class="col-6">
							<p class="text-justify">
								<%= product.time %>
							</p>
						</div>
					</div>
					<!-- time -->
					<!-- Studio Num -->
					<div class="card-container">
						<div class="col-4">
							<p>
								<strong>Studio Num</strong>
							</p>
						</div>
						<div class="col-6">
							<p class="text-justify">
								<%= product.studio_num %>
							</p>
						</div>
					</div>
					<!-- Studio Num -->
				</form>
				<!-- form book class -->
				<% if (isAuthenticated) { %>
				<form action="/booking-cart" method="POST" class="container">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<button id=" " class="large-btn col-5 mt-1 mb-1" type="submit"> 
						Book this class
					</button>
					<input type="hidden" name="productId" value="<%= product._id %>">
				</form>
			</div>
			<% } else { %>
				<div class="signin-form" > 
					<h2 class="text-center">To get access to this content, you'll need to sign up.</h2>
					<p class="text-center" >Don't have an account?  
						<a href="/signup" class="login"> Register here</a>
					</p>
					<p class="text-center" >Already have an account? 
						<a href="/login" class="login"> Log in</a>
					</p>
				</div>
			<% } %>
		</section>
		<!-- class info -->
	</main>
	<%- include('../partials/footer.ejs') %>
	<%- include('../partials/end.ejs') %>
</body>
</html>